<a href="https://colab.research.google.com/github/Hani-Bin-Faisal-Ahammad/Python/blob/main/Python_Basic_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Hello, World!

In [1]:
print("Hello, World!")

Hello, World!

# 2. Variables and Data Types

In [2]:
# Integer
x = 10

# Float
y = 3.14

# String
name = "Alice"

# Boolean
is_active = True

# List
fruits = ["apple", "banana", "cherry"]

# Tuple
coordinates = (10.5, 20.3)

# Dictionary
person = {"name": "Alice", "age": 25}

# 3. Basic Arithmetic Operations

In [3]:
a = 10
b = 5

# Addition
result = a + b
print(result)  # Output: 15

# Subtraction
result = a - b
print(result)  # Output: 5

# Multiplication
result = a * b
print(result)  # Output: 50

# Division
result = a / b
print(result)  # Output: 2.0

# Integer Division
result = a // b
print(result)  # Output: 2

# Modulus (Remainder)
result = a % b
print(result)  # Output: 0

# Exponentiation
result = a ** b
print(result)  # Output: 100000

15
5
50
2.0
2
0
100000

# 4. If-Else Statement

In [5]:
age = 20
if age >= 18:
    print("Adult")
else:
    print("Minor")

Adult

# 5. For Loop

In [6]:
# Looping through a range
for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4

# Looping through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)  # Output: apple, banana, cherry

0
1
2
3
4
apple
banana
cherry

# 6. While Loop

In [7]:
count = 0
while count < 5:
    print(count)
    count += 1  # Output: 0, 1, 2, 3, 4

0
1
2
3
4

# 7. Functions

In [8]:
def greet(name):
    return f"Hello, {name}!"

message = greet("Alice")
print(message)  # Output: Hello, Alice!

Hello, Alice!

# 8. Lambda Function

In [9]:
# Lambda function to add two numbers
add = lambda x, y: x + y
print(add(3, 5))  # Output: 8

8

# 9. List Comprehension

In [10]:
# Create a list of squares of numbers from 0 to 4
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

# 10. Handling Exceptions

In [12]:
try:
    number = int(input("Enter a number: "))
    print("You entered:", number)
except ValueError:
    print("Oops! That's not a valid number.")

Enter a number: 6.3
Oops! That's not a valid number.

# 11. Reading from a File

In [15]:
# Read from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

# 12. Writing to a File

In [ ]:
# Write to a file
with open("example.txt", "w") as file:
    file.write("Hello, this is a test file!")

# 13. Classes and Objects

In [16]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} is barking!")

# Creating an object
dog1 = Dog("Rex", 3)
dog1.bark()  # Output: Rex is barking!

Rex is barking!

# 14. Importing Modules

In [17]:
# Importing a standard library module
import math

# Using math module functions
print(math.sqrt(16))  # Output: 4.0

4.0

# 15. Dictionaries

In [18]:
# Creating a dictionary
person = {"name": "John", "age": 30, "city": "New York"}

# Accessing dictionary values
print(person["name"])  # Output: John

# Adding a new key-value pair
person["job"] = "Engineer"

# Iterating through a dictionary
for key, value in person.items():
    print(key, value)

John
name John
age 30
city New York
job Engineer

# 16. Enumerate (for loop with index)

In [19]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: cherry

# 17. Zip (Combine Lists)

In [20]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

# Zipping two lists together
for name, age in zip(names, ages):
    print(f"{name} is {age} years old.")

Alice is 25 years old.
Bob is 30 years old.
Charlie is 35 years old.

#18. Using break and continue

In [21]:
# Break: Exits the loop
for i in range(5):
    if i == 3:
        break
    print(i)  # Output: 0, 1, 2

# Continue: Skips the current iteration and moves to the next one
for i in range(5):
    if i == 3:
        continue
    print(i)  # Output: 0, 1, 2, 4

0
1
2
0
1
2
4