In [5]:
# 1. Write a program that asks the user to enter a string and then prints the string with the first letter of each word capitalized.
Name=input("Enter your Name")
Name.title()

Enter your Namehani bin faisal

'Hani Bin Faisal'

In [16]:
# 2. Write a program that asks the user to enter a string and then prints the string with the words reversed. For example, "Hello World" should become "olleH dlroW".
user=input("Enter your Word: ")
s=user.split()
s1=s[::-1]
s2=" ".join(s1)
print(s2[::-1])

Enter your Word: Hello World
olleH dlroW

In [8]:
# 3. Write a program that asks the user to enter a string and then prints the string with all spaces replaced by underscores.
user=input("Enter your Name: ")
user.replace(" ","_")

Enter your Name: hani bin faisal

'hani_bin_faisal'

In [18]:
# 4. Write a program that asks the user to enter a string and then prints the string with the first and last characters swapped.
user=input("Enter your Name: ")
user[-1]+user[1:-1]+user[0]

Enter your Name: Goutham K

'Koutham G'

In [20]:
# 5. Write a program that asks the user to enter a string and then prints the string with all the vowels removed.
user=input("Enter your Name: ")
user=user.lower()
user.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

Enter your Name: Jinshan Jithu

'jnshn jth'

In [25]:
# 6. Write a program that creates a tuple of names and then prints the length of the tuple.
a=("Goutham","Krishna","Hani","Jinshan")
len(a)

4

In [35]:
# 7. Concatenate any three dictionaries to create a new one
dic1={"a":1,"b":2}
dic2={"c":3,"d":4}
dic3={"e":5,"F":6}
d={**dic1,**dic2,**dic3}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'F': 6}

In [36]:
#8. Write a Python program to sum all the values in a dictionary.
sum(d.values())

21

In [40]:
#9. Write a Python program to remove duplicates from the dictionary
d={"a":1,"b":2,"c":3,"d":4,"d":4}
import pandas as pd
df=pd.DataFrame(d,index=[0])
df.drop_duplicates()

   a  b  c  d
0  1  2  3  4

In [41]:
# 10. Write a program that creates a dictionary of numbers and their squares. Print the square of a specific number.
square={i:i**2 for i in range(1,11)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [43]:
#11. Write a program that creates a dictionary of students and their ages. Print the number of students in the dictionary.
Students={"Name":["Hani","Goutham","Jinshan"],"Age":[19,18,18]}
len(Students["Name"])

3

In [44]:
#12. Write a program that creates a list of numbers, loops through the list using a for loop and the index, and prints each number along with its index.
a=[1,2,3,4,5]
for i in range(len(a)):
    print(i,a[i])

0 1
1 2
2 3
3 4
4 5

In [45]:
#13. Write a program that creates a list of cities, uses the clear() method to empty the list, and then prints the empty list.
a=["Delhi","Mumbai","Chennai"]
a.clear()
a

[]

In [47]:
#14. Write a program that creates two lists of numbers, extends the first list with the elements of the second list, and then prints the combined list.
a=[1,2,3,4,5]
b=[6,7,8,9,10,11]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [48]:
#15. Write a program that asks the user to enter a letter and prints whether the letter is a vowel or a consonant.
user=input("Enter your Letter: ")
if user in "aeiouAEIOU":
    print("Vowel")
else:
    print("Consonant")

Enter your Letter: A
Vowel

In [49]:
#16. Write a program that asks the user to enter a string and prints whether the string is a palindrome or not.
user=input("Enter your Word: ")
if user==user[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter your Word: malayalam
Palindrome

In [50]:
#17. Write a program that asks the user to enter two numbers and prints the larger of the two numbers.
a=int(input("Enter your First Number: "))
b=int(input("Enter your Second Number: "))
if a>b:
    print(a)
else:
    print(b)

Enter your First Number: 5
Enter your Second Number: 9
9

In [52]:
#18. Write a program that uses a while loop to print the multiplication table of a given number up to 10.
user=int(input("Enter your Number: "))
i=1
while i<=10:
    print(user*i)
    i+=1

Enter your Number: 5
5
10
15
20
25
30
35
40
45
50

In [53]:
#19. Write a program that uses a while loop to print the first 10 even numbers.
i=1
while i<=20:
    if i%2==0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [54]:
#20. Write a program that uses a for loop to print each character of a given string.
user=input("Enter your Word: ")
for i in user:
    print(i)

Enter your Word: Hani Bin Faisal
H
a
n
i

B
i
n

F
a
i
s
a
l

In [55]:
#21. Write a program that uses a for loop to print all prime numbers between 1 and 50.
for i in range(2,51):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [56]:
#22. Write a function factorial(n) that takes a number as an argument and returns its factorial.
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
factorial(5)

120

In [57]:
#23. Write a function find_max(num_list) that takes a list of numbers as an argument and returns the maximum number in the list.
def find_max(num_list):
    return max(num_list)
find_max([1,2,3,4,5])

5

In [58]:
#24. Write a function is_prime(n) that takes a number as an argument and returns True if the number is a prime, otherwise False.
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True
is_prime(5)

True

In [59]:
#25. Write a function merge_lists(lst1, lst2) that takes two lists as arguments and returns a new list that contains all elements from both lists.
def merge_lists(lst1,lst2):
    return lst1+lst2
merge_lists([1,2,3,4,5],[6,7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
#26. Write a function common_elements(lst1, lst2) that takes two lists as arguments and returns a list of elements that are common to both lists.
def common_elements(lst1,lst2):
    return list(set(lst1).intersection(set(lst2)))
common_elements([1,2,3,4,5],[3,4,5,6,7])

[3, 4, 5]

In [61]:
#27. Write a lambda function that takes a list of numbers as an argument and returns a new list containing only the even numbers.
even=lambda x: [i for i in x if i%2==0]
even([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

In [62]:
#28. Write a lambda function that takes a number as an argument and returns True if the number is a prime number, otherwise False.
prime=lambda x: True if len([i for i in range(2,x) if x%i==0])==0 else False
prime(5)

True

In [63]:
#29. Write a lambda function that takes a list as an argument and returns the list reversed.
reverse=lambda x: x[::-1]
reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [64]:
#30. Write a lambda function that takes a number as an argument and returns its factorial.
factorial=lambda x: 1 if x==0 else x*factorial(x-1)
factorial(5)

120

In [65]:
#Write a Python function named classify_numbers that takes a list of integers as input and returns a dictionary with the counts of positive numbers, negative numbers, and zeros. The function should use a loop to iterate through the list and if-else statements to classify each number.
def classify_numbers(lst):
    positive=0
    negative=0
    zero=0
    for i in lst:
        if i>0:
            positive+=1
        elif i<0:
            negative+=1
        elif i==0:
            zero+=1
        else:
            pass
    return {"Positive":positive,"Negative":negative,"Zero":zero}

classify_numbers([1,2,-3,0,5,-6,7,0,-9,10])

{'Positive': 5, 'Negative': 3, 'Zero': 2}

In [73]:
#32. Write a function to calculate the grade distribution in a class.that is, Write a Python function named calculate_grade_distribution that takes a list of student scores (integers between 0 and 100) as input and returns a dictionary with the counts of each grade category.
def calculate_grade_distribution(lst):
    A=0
    B=0
    C=0
    D=0
    E=0
    for i in lst:
        if i>=90:
            A+=1
        elif i>=80:
            B+=1
        elif i>=70:
            C+=1
        elif i>=60:
            D+=1
        elif i<=59:
            E+=1
        else:
            pass
    return {"A":A,"B":B,"C":C,"D":D,"E":E}

scores=[95,85,45,72,68,13,89,57,48,99,94,38]
result=calculate_grade_distribution(scores)
print(result)

{'A': 3, 'B': 2, 'C': 1, 'D': 1, 'E': 5}